{% extends 'base.html' %}

{% block title %}
    Generador
{% endblock %}

{% block content %}
    <form method="POST" class="eleBusqueda">   
        <div class="labelCentrado "><h1>GENERADOR DE ABSTRACT</h1></div>                          
                <div class="select1 ">
                    <!--<label for="tipo">Ingresar Titulo:</label>-->
                    <input type="search" placeholder="Ingresar Titulo:" name="tituloAbs" required>               
                </div>
                
                <div class="select2">
                    <!--<label for="tema">Ingresar Abstract: </label>-->
                    <textarea  placeholder="Ingresar Abstract:" name="absOrg" required></textarea>
                </div>
        
            <div class="btn_cen">
            <!--<a href="{{ url_for('proyecto.abstract')}}"><button class="boton_personalizado"><img width="80px" src="{{ url_for('static', filename='busqueda.png') }}"> GENERAR</button></a>-->
            <!--<a href="{{ url_for('proyecto.abstract')}}" class="boton_personalizado"><img width="80px" src="{{ url_for('static', filename='busqueda.png') }}"> GENERAR</a>-->
            <button class="boton_personalizado"><img width="80px" src="{{ url_for('static', filename='busqueda.png') }}"> GENERAR</button>
        </div>
    </form>
{% endblock %}