{% extends 'base.html' %}

{% block title %}
    Proyecto
{% endblock %}

{% block content %}   
   <div class="fondoC">
        <h2>Bienvenido</h2>
        <div><img src="{{ url_for('static', filename='abc.png') }}" alt="logoU" width="220" height="180" ></div>
        <h1>Generador de Abstract</h1>        
        <h3>Proyecto Segundo Parcial - Machine Learning</h3>
        <h4>Integrantes: <br> Diego Bedoya - Jhon Granda - Anthony Grijalva - 
            Sebastian Sandoval - Alexis Villavicencio </h4>        
   </div>


{% endblock %}