{% extends 'base.html' %}

{% block title %}
    Generador
{% endblock %}

{% block content %}
    <div  class="eleBusqueda">  
        <div class="scrollDiv">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Favorite Color</th>
               
            </tr>
            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>
            
            <tr>
              <td>Captain</td>
              <td>Cool</td>
              <td>Tree Crusher</td>
              <td>Blue</td>
            </tr>

            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>

            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>

            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>
            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>
            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>
            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>
            <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
            </tr>
            <tr>
              <td>The</td>
              <td>Tick</td>
              <td>July 19, 1968</td>
              <td>Edlund, Ben (July 1996).</td>
            </tr>       
        </table>
    </div> 
    </div>
{% endblock %}