{% extends 'base.html' %}

{% block title %}
    Generador
{% endblock %}

{% block content %}
    <div class="labelCentrado "><h1>Resultados de Experimentación</h1></div>
    <div  class="eleBusqueda">  
        <div class="scrollDiv">
        <table>
            <tr>
                <th>Paper</th>
                <th>Jaccard</th>
                <th>Coseno Vectorial</th>
            </tr>
            {% for elemento in tabla %}
            <tr>
              <td>{{elemento.0}}</td>
              <td>{{elemento.1}}</td>
              <td>{{elemento.2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
    </div>
{% endblock %}