<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Bienvenido</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='barraMenu.css') }}">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.js"></script> 
<body>    
  <header>
        <div class="logo">
            <div>                
                <img src="{{ url_for('static', filename='upsTra.png') }}" alt="logoU" width="250" height="80" >
            </div>
            <div>
              <span><a href="{{ url_for('proyecto.index')}}" class="button">INICIO</a></span>    
              <span><a href="{{ url_for('proyecto.formulario')}}" class="button">GENERADOR</a></span> 
              <span><a href="{{ url_for('proyecto.tabla')}}" class="button">EXPERIMENTACIÒN</a></span> 
            </div>
        </div>
        <nav>            
    </nav>    
</header>


<!-- End of the header --> 
    <section>{% block content %}{% endblock %}</section>

    <footer>       
        <input type="checkbox" id="btn-mas">        
        <div class="redes">
            <a href="mailto:dbedoyav1@est.ups.edu.ec" class="" title="Diego Bedoya"><img src="{{ url_for('static', filename='user3.png') }}" alt="logoU" width="70" height="70" ></a>
            <a href="mailto:jgrandaf2@est.ups.edu.ec" class="" title="Jhon Granda" ><img src="{{ url_for('static', filename='user3.png') }}" alt="logoU" width="70" height="70" ></a>
            <a href="mailto:sgrijalvaa1@est.ups.edu.ec" class="" title="Smith Grijalva"><img src="{{ url_for('static', filename='user3.png') }}" alt="logoU" width="70" height="70" ></a>
            <a href="mailto:ssandovalh@est.ups.edu.ec" class="" title="Sebastian Sandoval"><img src="{{ url_for('static', filename='user3.png') }}" alt="logoU" width="70" height="70" ></a>
            <a href="mailto:avillavicenciog1@est.ups.edu.ec" class="" title="Alexis Villavicencio"><img src="{{ url_for('static', filename='user3.png') }}" alt="logoU" width="70" height="70" ></a>
        </div>
        <div class="btn-mas">            
            <label for="btn-mas" class="fa fa-plus" title="Todo los Derechos Reservados 2022" ><img src="{{ url_for('static', filename='cr.png') }}" alt="logoU" width="70" height="70" ></label>
        </div>    
    </footer>
</body>
